*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.video_background{
    width: 100%;
}

.container{
    margin: auto;
    width: 1200px;
}
.container__juego{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 35%;
    margin-top: 15%;
    background-color: rgb(255, 255, 255);
    border-radius: 0.25rem;
    width: 600px;
}
.bingo__container{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    
    
}
.bingo__carton{
    margin: auto;
    margin-left: 10%;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 20px;
}

.bingo__casilla{
    border-radius: 0.15rem;
    width: 120px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.4rem;
}
.bingo__casilla:hover{
    cursor: pointer;
}
.bingo__casilla:nth-child(even){
    background-color: blue;
    
}
.bingo__casilla:nth-child(odd){
    background-color: red;
    box-shadow: 10px -2px 45px -11px rgba(0,0,0,0.75);
}

.Juego{
    margin-top: 20px;
    margin-left: 60%;
    padding: 15px;
    width: 130px;
    background-color: rgb(3, 170, 248);
    border: none;
    border-radius: 0.25rem;
    animation-name: jugar;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    transition: all 1s;
}
.Juego:hover{
    cursor: pointer;
    background-color: rgb(3, 211, 248);
    color: white;
}
.icono{
    text-align: center;
    color: greenyellow;
}

.numero__elegido{
    text-align: center;
    font-size: 2.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10px;
}
.red{
    color: red;
}

.tittle{
    font-size: 3rem;
    color: rgb(30, 30, 99);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation-name: tittle;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    text-align: center;
}

.body__bingo{
    background-image: url(./../assets/images/bolas\ bingo\ fondo.jpg);
    position: relative;
    background-size: 150%;
    animation-name:fondo_movimiento;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 6s;
}
@keyframes tittle{
    from{
        transform: translate(500px) rotate(45deg);
    }to{
        transform: translate(0px) rotate(0deg);
    }
}

@keyframes jugar {
    from{
        transform: translate(500px) rotate(45deg);
    }to{
        transform: translate(0px) rotate(0deg);
    }
}

@keyframes fondo_movimiento{
    from{
        background-position: left;
    }
    to{
        background-position:  right;
    }
}



